/* Shared styles for all showcase sections */

.container {
  position: relative;
  min-height: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.charactersContainer {
  min-height: 600px;
}

.stylesContainer,
.stylesContainer .scrollingElements  {
  min-height: 1200px;
}

.wardrobeContainer .floatingImagesContainer,
.wardrobeContainer .fixedContent {
  z-index: 10;
}

/* Scrolling content (before becoming fixed) */
.scrollingContent {
  position: relative;
  max-width: 1280px;
  width: 100%; 
  margin: 0 auto;
  padding: 64px 32px;
  pointer-events: none;

}

.scrollingContent.visible {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.2s;
}

/* Elements that scroll with the document flow */
.scrollingElements {
  position: relative;
  width: 100%;
  min-height: 820px;
  pointer-events: none;
}

/* Fixed content wrapper (after first section reaches middle) */
.fixedContent {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  max-width: 1280px;
  margin: 0 auto;
  padding: 64px 32px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
  z-index: 50;
}

.fixedContent.visible {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.2s;
}

.content {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 500px;
  pointer-events: none;
  z-index: 11;
}

.titleContainer {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.iconWrapper {
  background-color: #E5FBFA;
  border-radius: 1rem;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  filter: blur(20px);
  transform: translateY(200px);
  transition: filter 0.4s ease-in-out, transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.iconWrapper svg {
  width: 30px;
  height: 30px;
  color: #0C1013;
}

.title {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.04em;
    color: #E5FBFA;
    mix-blend-mode: lighten;
    text-align: center;
    opacity: 0;
    filter: blur(20px);
    transform: translateY(140px);
    transition: filter 0.4s ease-in-out, transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #bbbbbb;
    opacity: 1;
    max-width: 540px;
    padding: 0 32px;
    opacity: 0;
    filter: blur(20px);
    transform: translateY(-120px);
    transition: filter 0.4s ease-in-out, transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.headerSubtitle {
  transform: translateY(-80px);
  transition: filter 0.4s ease-in-out, transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.headerTitle {
  transform: translateY(80px);
  transition: filter 0.4s ease-in-out, transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.visible .iconWrapper,
.visible .title,
.visible .subtitle,
.iconWrapper.visible,
.title.visible,
.subtitle.visible {
  filter: blur(0);
  transform: translateY(0);
  opacity: 1;
  transition: filter 0.6s 0.4s ease-in-out, transform 0.6s 0.4s ease-in-out, opacity 0.6s 0.4s ease-in-out;
}

.visible .subtitle,
.subtitle.visible {
  opacity: 0.5;
}

.floatingImagesContainer {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 50;
}

.heroImage {
  object-fit: cover;
  border-radius: 4px;
  height: 156px !important;
  width: 103px !important;
  max-width: none !important;
}

.floatingImage {
  position: absolute;
  opacity: 0;
  transition: transform 0.83 ease-out, opacity 0.3s ease-in-out;
}
.floatingImage1 {
  top: 240px;
  left: calc(50% - 530px);
  z-index: 1;
  transform: rotate(-6deg) translate3d(0, 0, 0);  
}
.floatingImage2 {
  top: 320px;
  left: calc(50% - 420px);
  transform: rotate(6deg) translate3d(0, 0, 0);  
}
.floatingImage3 {
  top: 430px;
  left: calc(50% - 530px);
  transform: rotate(-20deg) translate3d(0, 0, 0);  
}

@media (max-width: 1024px) {
  .floatingImagesContainer,
  .fixedContent {
    z-index: 10;
  }
  .handDrawnArrow {
    display: none;
  }
  .floatingImage1 {
    top: 160px;
    left: 0;
  }
  .floatingImage2 {
    top: 290px;
    left: 60px;
  }
  .floatingImage3 {
    top: 500px;
    left: 0;
  }
}

.visible .floatingImage {
  opacity: 1;
}

.visible .floatingImage1 {
  transform: rotate(-6deg) translate3d(-10px, -10px, 0);
  transition: transform 0.8s 0.4s ease-out, opacity 0.6s 0.4s ease-in-out;
}
.visible .floatingImage2 {
  transform: rotate(6deg) translate3d(10px, 10px, 0);
  transition: transform 0.8s 0.5s ease-out, opacity 0.6s 0.5s ease-in-out;
}
.visible .floatingImage3 {
  transform: rotate(-20deg) translate3d(10px, -10px, 0);
  transition: transform 0.8s 0.6s ease-out, opacity 0.6s 0.6s ease-in-out;
}

.handDrawnArrow {
  position: absolute;
  top: 280px;
  left: calc(50% - 330px);
  overflow: hidden;
  transform: rotate(-55deg);
  max-width: 0;
  opacity: 0;
  transition: max-width 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.visible .handDrawnArrow {
  transform: rotate(0deg);
  max-width: 80px;
  opacity: 1;
  transition: max-width 0.3s 0.6s ease-in-out, transform 0.3s 0.6s ease-in-out, opacity 0.3s 0.6s ease-in-out;
}

.sceneImage1 {
  top: 12%;
  left: 1%;
  z-index: 1;
  transform: rotate(0) translate3d(20px, 20px, 0);  
  transition: transform 0.8s ease-out, opacity 0.6s ease-in-out;
}
.visible .sceneImage1 {
  transform: rotate(0) translate3d(-10px, -10px, 0);
  transition: transform 0.8s 0.6s ease-out, opacity 0.6s 0.6s ease-in-out;
}
.sceneImage2 {
  top: 18%;
  right: 8%;
  z-index: 1;
  transform: rotate(0) translate3d(-20px, -20px, 0);  
  transition: transform 0.8s ease-out, opacity 0.6s ease-in-out;
}
.visible .sceneImage2 {
  transform: rotate(0) translate3d(10px, 10px, 0);
  transition: transform 0.8s 0.6s ease-out, opacity 0.6s 0.6s ease-in-out;
}
.sceneImage3 {
  top: 34%;
  left: 11%;
  z-index: 1;
  transform: rotate(0) translate3d(-20px, -20px, 0);  
  transition: transform 0.8s ease-out, opacity 0.6s ease-in-out;
}
.visible .sceneImage3 {
  transform: rotate(0) translate3d(10px, 10px, 0);
  transition: transform 0.8s 0.6s ease-out, opacity 0.6s 0.6s ease-in-out;
}
.sceneImage4 {
  top: 52%;
  right: -1%;
  z-index: 1;
  transform: rotate(0) translate3d(20px, 20px, 0);  
  transition: transform 0.8s ease-out, opacity 0.6s ease-in-out;
}
.visible .sceneImage4 {
  transform: rotate(0) translate3d(-10px, -10px, 0);
  transition: transform 0.8s 0.6s ease-out, opacity 0.6s 0.6s ease-in-out;
}
.sceneImage5 {
  bottom: 2%;
  left: -6%;
  z-index: 1;
  transform: rotate(0) translate3d(20px, 20px, 0);  
  transition: transform 0.8s ease-out, opacity 0.6s ease-in-out;
}
.visible .sceneImage5 {
  transform: rotate(0) translate3d(-10px, -10px, 0);
  transition: transform 0.8s 0.6s ease-out, opacity 0.6s 0.6s ease-in-out;
}
.sceneImage6 {
  bottom: 9%;
  right: 8%;
  z-index: 1;
  transform: rotate(0) translate3d(-20px, -20px, 0);  
  transition: transform 0.8s ease-out, opacity 0.6s ease-in-out;
}
.visible .sceneImage6 {
  transform: rotate(0) translate3d(10px, 10px, 0);
  transition: transform 0.8s 0.6s ease-out, opacity 0.6s 0.6s ease-in-out;
}

.wardrobeImage1 {
  top: -42%;
  left:  22%;
}
.wardrobeImage2 {
  top: 0%;
  left: 11%;
}
.wardrobeImage3 {
  top: 42%;
  left: 0;
}
.wardrobeImage4 {
  top: 84%;
  left: -11%;
}
.wardrobeImage5 {
  top: 125%;
  left: -22%;
}
.wardrobeImage6 {
  right: 0;
  top: 7%;
}
.wardrobeImage7 {
  right: 0;
  top: 44%;
}
.wardrobeImage8 {
  right: 0;
  top: 81%;
}

.imageWrapper {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.imageWrapperRing20 {
  composes: imageWrapper;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25),
              0 0 0 2px rgba(0, 229, 204, 0.2);
}

.stylesImage {
  position: absolute;
  transition: transform 0.8s ease-out, opacity 0.6s ease-in-out;
}

.stylesImage0 {
  left: 2%;
  bottom: 0;
}

.stylesImage1 {
  left: 15%;
  bottom: 450px;
}

.stylesImage2 {
  right: 2%;
  top: 200px;
}

.stylesImage3 {
  right: 15%;
  top: 650px;
}

.stylesImageWrapperLarge {
  position: relative;
  width: 300px;
  height: 450px;
}

.stylesImageWrapperSmall {
  position: relative;
  width: 200px;
  height: 300px;
}

.stylesImageCover {
  object-fit: cover;
}

@media (max-width: 1024px) {

  .stylesImageWrapperLarge {
    width: 260px;
    height: 390px;
  }

  .stylesImageWrapperSmall {
    width: 170px;
    height: 260px;
  }

  .stylesImage0 {
    left: 0;
  }
  .stylesImage1 {
    left: 8%;
  }
  .stylesImage2 {
    right: 0;
  }
  .stylesImage3 {
    right: 5%;
  }
}

@media (max-width: 768px) {
  .subtitle {
    padding: 0;
  }

  .floatingImagesContainer,
  .scrollingElements {
    opacity: 0.4 !important;
  }
  .floatingImage1 {
    top: 140px;
    left: 40px;
  }
  .floatingImage2 {
    left: auto;
    right: 130px;
  }
  .floatingImage3 {
    top: 460px;
    left: 50%;
  }

  .stylesImage0 {
    left: 0;
    top: 300px;
    bottom: auto;
  }
  .stylesImage1 {
    left: 8%;
    top: 610px;
  }
  .stylesImage2 {
    right: 0;
    bottom: 200px;
    top: auto;
  }
  .stylesImage3 {
    right: 5%;
    top: auto;
    bottom: 530px;
  }

}


@media (max-width: 560px) {
  .title {
    font-size: 28px;
    line-height: 34px;
  }
}