[submodule "modal_apps/training"]
	path = modal_apps/training
	url = git@github.com:ctvbld/primeshot-training.git
[submodule "modal_apps/inference"]
	path = modal_apps/inference
	url = git@github.com:ctvbld/primeshot-inference.git
