.tabs-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: white;
    border-radius: 24px;
    overflow: hidden;
  }
  
  .tabs-sidebar {
    min-width: 248px;
    border-right: 1px solid #eee;
    padding: 24px 0;
    gap: 4px;
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    justify-content: start;
    height: 100%;
    border-radius: 0;
  }
  
  .tab-trigger {
      color: #000;
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      width: 100%;
      gap: 12px;
      display: flex;
      align-items: center;
      justify-content: start;
      padding: 16px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      border-radius: 6px;
  }
  
  .tab-trigger[data-state="active"] {
    background: rgba(68, 227, 201, 0.2);
  }
  
  .tab-trigger:hover:not([data-state="active"]) {
    background: rgba(68, 227, 201, 0.1);
  }
  
  
  .tab-trigger svg {
      opacity: 0.4;
      transition: all 0.3s ease-in-out;
  }
  
  .tab-trigger[data-state="active"] svg {
      opacity: 1;
  }
  
  .tab-trigger .tab-label {
      flex: 1;
      text-align: left;
      color: #000;
  }
  
  .tab-trigger .tab-category-count {
      color: #00000030;
      font-size: 14px;
      font-weight: 500;
  }
  
  .tab-content {
    flex: 1;
    padding: 32px;
    overflow: hidden;
  }
  
  .tab-header {
    margin-bottom: 24px;
  }
  
  .tab-title {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    margin-bottom: 8px;
  }
  
  .tab-description {
    color: #909594;
    font-size: 14px;
    line-height: 1.5;
    max-width: 360px;
  }
  
  /* Footer icon buttons */
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #fff;
    border-top: 1px solid #eee;
  }

  .footer-icon-button {
      width: 40px;
      height: 40px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      position: relative;
  }
  
  .footer-icon-button svg {
      color: rgba(0, 0, 0, 0.4);
  }
  
  button[data-state="active"] .footer-icon-button svg {
      color: #000000;
  }
  
  button[data-state="inactive"] .footer-icon-button {
      background: transparent;
  }
  
  button[data-state="inactive"]:hover .footer-icon-button {
      background: rgba(0, 0, 0, 0.05);
  }
  
  .footer-option-image {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
  }
  
  
  .footer-icon-button .footer-option-swatch {
      transition: all 0.3s ease-in-out;
  }
  
  [data-state="active"] .footer-icon-button .footer-option-swatch {
      border: 2px solid #FFF;
      box-shadow: 0px 0px 0px 2px #44E3C9;
  }
  
  .footer-option-icon {
      border-radius: 4px;
  }
  
  .footer-option-color {
      position: absolute;
      height: 40px;
      width: 40px;
      border-radius: 9999px;
      border: 2px solid rgba(0, 0, 0, 0.1);
  }
  
  .footer-option-check {
      background-color: #FFFFFF;
      height: 14px;
      width: 14px;
      position: absolute;
      right: -4px;
      bottom: -4px;
      color: rgba(0, 189, 88, 1) !important;
      border-radius: 9999px;
      z-index: 2;
  }
  
  .footer-option-color-check {
      right: -1px;
      bottom: -1px;
  }

  .footer-option-icon-label-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 12px;
  }
  
@media (max-height: 712px) {
    .tab-description {
        font-size: 13px;
        max-width: none;
    }
    .tab-title {
        font-size: 20px;
    }
    .tab-content {
        padding: 24px;
    }

    .tab-header {
        margin-bottom: 34px !important;
    }

    .footer-container {
        gap: 26px !important;
        padding: 26px !important;
    }
}

@media (max-width: 960px) {
    .tabs-sidebar-container {
        display: none;
    }

    .tab-description {
        font-size: 13px;
        max-width: 90%;
    }

}

@media (max-width: 840px) {

    .footer-option-icon-label-container {
        display: none;
    }

}

@media (max-width: 500px) {
    .tab-description {
        font-size: 14px;
        max-width: 74%;
    }

    .tab-header {
        margin-bottom: 54px;
    }

    .footer-container {
        flex-direction: column;
        gap: 32px;
        padding: 32px;
    }

    .footer-container button {
        width: 100%;
    }
}