.navigation-buttons {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 88px;
    background: rgba(0, 21, 20, 0.80);
    backdrop-filter: blur(10px);
    gap: 32px;
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 1px 1px 0px rgba(68, 227, 201, 0.30) inset;
    z-index: 10;
}

.carousel-container {
    position: relative;
    width: 100%;
}

.highlight-overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid #44E3C9;
    width: calc(70% + 12px);
    max-width: calc(1024px + 12px);
    height: calc(var(--image-style-card-height) + 12px);
    border-radius: 36px;
    box-shadow: 0 0 0 100vmax rgba(0, 21, 20, 0.9);
    clip-path: inset(0 -100vmax);
    z-index: 10;
    pointer-events: none;
}

.slide-card-container {
    flex: 0 0 70%;
    max-width: 1024px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-out;
}

.slide-card-container:first-child {
    border-radius: 30px 0 0 30px;
}

.slide-card-container:last-child {
    border-radius: 0 30px 30px 0;
}

.slide-card {
    display: flex;
    flex-direction: column;
    max-width: 1068px;
    height: var(--image-style-card-height);
    will-change: transform;
    transition: transform 0.3s ease-out;
    border-radius: 30px;
}

.active-slide {
    z-index: 2;
}

.inactive-slide {
    z-index: 1;
}

.sliding {
    border-radius: 0;
}

@media (max-width: 600px) {
    .highlight-overlay {
        width: calc(90% + 8px);
        height: calc(var(--image-style-card-height) + 8px);
        border-width: 4px;
    }
    .slide-card-container {
        flex: 0 0 90%;
    }
}