.card-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.scrollable {
    /* overflow-x: auto; */
}

.fake-card {
    border-radius: 36px;
    background: linear-gradient(180deg, rgba(68, 227, 201, 0.01) 0%, rgba(68, 227, 201, 0.00) 100%);
    flex: 1 0 386px;
    max-width: 386px;
    height: 608px;
    max-height: calc(100% - 120px);
    min-height: 460px;
}