.base {
    background: linear-gradient(160deg, rgba(13, 81, 75, 0.50) 3.57%, rgba(13, 80, 70, 0.50) 28.04%, rgba(16, 74, 45, 0.50) 44.02%, rgba(30, 72, 33, 0.50) 52.79%, rgba(27, 66, 29, 0.50) 60.98%, rgba(21, 60, 29, 0.50) 70.59%, rgba(3, 44, 32, 0.50) 76.15%, rgba(3, 30, 23, 0.50) 83.38%, rgba(0, 0, 0, 0.50) 97.34%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 80px;
    overflow: hidden;
    border-radius: 99px;
    box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.18) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.18) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 10px 20px 10px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(45px);    
}

.image {
    aspect-ratio: 1 / 1;
    height: 100%;
    width: 100%;
}

.fallback {
    aspect-ratio: 1 / 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}