.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 380px;
  gap: 32px;
}

.avatar {
  width: 80px;
  height: 80px;
}

.title {
    color: #fff;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
}

.description {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.input {
    width: 100%;
    border: 1px solid rgba(68, 227, 201, 0.35);
    box-shadow: 0px 0px 0px 6px rgba(68, 227, 201, 0.08);
}

.input:focus {
    border: 1px solid #44E3C9;
}

.genderGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.genderOption {
    background: rgba(68, 227, 201, 0.10);
    color: #44E3C9;
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 16px;
    border: 1px solid transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.genderOption:not(.genderOptionSelected):hover {
  border-color: rgba(68, 227, 201, 1);
}

.genderOptionSelected {
  composes: genderOption;
  border-color:#FF973C;
  color: #FF973C;
  background: rgba(255, 151, 60, 0.10);
  box-shadow: 0px 0px 0px 1px #FF973C;
}

.genderLabel {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
}

.submitButton {
  margin-top: 16px;
  width: 100%;
}

.submitButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
