VERCEL_TARGET_ENV=local
NEXT_PUBLIC_VERCEL_TARGET_ENV=local

# Supabase
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_S3_BUCKET=primeshot-uploads-02
NEXT_PUBLIC_AWS_REGION=us-east-1
NEXT_PUBLIC_AWS_S3_BUCKET=primeshot-uploads-02
NEXT_PUBLIC_AWS_DISTRIBUTION=https://primeshot-uploads-02.s3.us-east-1.amazonaws.com
CLOUDFRONT_KEY_PAIR_ID=
CLOUDFRONT_PRIVATE_KEY=

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_BASE_PATH=/
NEXTAUTH_SECRET=

# Stripe Configuration
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# CORS Configuration
ALLOWED_ORIGINS='http://localhost:3000'

# Modal Configuration
MODAL_TOKEN_ID=
MODAL_TOKEN_SECRET=

# WebSocket URL for Modal training progress
NEXT_PUBLIC_TRAINING_WEBSOCKET_URL=

# Crisp ID
NEXT_PUBLIC_CRISP_WEBSITE_ID=

# Cloudfare bot protection
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# Slack
SECURITY_SLACK_WEBHOOK=
AI_MONITORING_SLACK_WEBHOOK=

# Rewardfull
NEXT_PUBLIC_REWARDFUL_API_KEY=