NODE_ENV=development

# Supabase
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=
NEXT_PUBLIC_AWS_REGION=
NEXT_PUBLIC_AWS_S3_BUCKET=
NEXT_PUBLIC_AWS_DISTRIBUTION=
CLOUDFRONT_KEY_PAIR_ID=
CLOUDFRONT_PRIVATE_KEY=

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3001
NEXT_PUBLIC_POST_LOGIN_PATH=/
NEXTAUTH_SECRET=

# Stripe Configuration
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# CORS Configuration
ALLOWED_ORIGINS='*'

# Modal Configuration
NEXT_PUBLIC_MODAL_TOKEN_ID=
NEXT_PUBLIC_MODAL_TOKEN_SECRET=

# WebSocket URL for Modal training progress
NEXT_PUBLIC_TRAINING_WEBSOCKET_URL=